@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 32px; text-align: center;">
    <p>
        Vui lòng liên hệ Mr.Tây - <a href="tel:0388910886">0388.910.886</a> để có bảng Price cập nhật combo quà tết & Rượu mới nhất 2020.
    </p>
</div>

