
.wr-shopping-cart a{
    line-height:33px;
}
.brand-circle {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 4px solid #fff;
    box-shadow: 1px 1px 6px #4e4e4e;
}
.brand-circle-item{
    webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.brand-circle-item:hover{
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.brand-circle-item h2 {
    text-align: center;
    margin: 20px auto 10px;
}

    .brand-circle-item h2 a {
        color: #444444;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.4;
    }

.hotbrands {
    margin-top: -137px;
    padding-bottom: 58px;
}

.wr-home-product {
    padding: 70px 0 90px;
    background: #efefef;
}

    .wr-home-product .top-line {
        background: #272727;
        height: 3px;
        width: 90px;
        margin: auto;
    }

    .wr-home-product .heading-title {
        padding: 30px 0;
    }

.heading-title h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
    color: #f3650e;
}

.wr-home-product div[class^="col"] {
}

.home-title {
    position: relative;
    margin-bottom: 25px;
}

    .home-title h2 {
        text-transform: uppercase;
        font-size: 28px;
        display: table;
        background: #fff;
        position: relative;
        z-index: 9;
        padding-right: 10px;
    }

    .home-title:after {
        content: '';
        height: 3px;
        position: absolute;
        width: 100%;
        background: #f3650e;
        bottom: 10px;
    }
.wr-home-hot-news div[class*='col-']{
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
}
.wr-home-hot-news {
    margin-top: 47px;
}

    .wr-home-hot-news .news-item {
        border: 1px solid #ccc;
        flex: 1;
    }

        .wr-home-hot-news .news-item img {
            max-width: 100%;
        }

        .wr-home-hot-news .news-item h3 {
            margin-top: 1em;
        }

            .wr-home-hot-news .news-item h3 a {
                color: #444444;
            }
            .wr-home-hot-news .news-item h3 a:hover{
                color:#f3650e;
            }
        .wr-home-hot-news .news-item p {
            color: #555;
        }

        .wr-home-hot-news .news-item .news-item-detail {
            padding: 10px;
        }
      