
.left-menu{
    background:#fff;
}
.left-menu-header{
    background: #444444;
    border-left: 5px solid #f3650e;
}
.left-menu-header h4{
    margin:0;
    font-size:16px;
    text-transform: uppercase;
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.left-menu-content{
    padding:10px;
}
.left-menu-content ul{
    list-style:none;
    padding:0;
    margin:0;
}
.left-menu-content ul li{
    border-bottom: 1px dashed #c9c9c9;
}
.left-menu-content ul li a:hover{
    color:#f3650e;
}
.left-menu-content ul li.active a{
    color:#f3650e;
}
.left-menu-content ul li:last-child{
    border:none;
}
.left-menu-content ul a{
    color: #555555;
    font-size: 18px;
    padding: 10px 15px;
    display:block;
}
body{
    background-color:#efefef;
}
.wr-filter{
    background:#fff;
    padding:10px;
    margin-bottom:16px;
}
.wr-filter ul{
    margin-bottom:0;
}

.wr-filter .btn-filter{
    background-color:#fbfbfb;
    color:#555;
    border-radius:0;
    border:1px solid rgba(0,0,0,.1);
}
.wr-filter .btn-filter-split{
    background-color:#fbfbfb;
    color:#555;
    border:1px solid rgba(0,0,0,.1);
    border-radius:0;
}
.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: #fff;
    background-image: none;
    border-color: #6c757d;
}
.btn.focus, .btn:focus{
    box-shadow:none;
}
.wr-product-detail{
    background-color:#fff;
}
.wr-product-detail h1{
    color:#444;
}
.p-brand a{
    color:#f3650e;
}
.pr-des h4 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #444;
}
.pr-price{
    margin-top: 30px;
    padding: 20px 0 10px;
    border-top: 1px dashed #bdbdbd;
    border-bottom: 1px dashed #bdbdbd;
}
.pr-price strong{
    color:#f3650e;
}
.social{
    margin:15px 0;
}
.social .fa-facebook-square{
    color:#29487d;
}
.social .fa-google-plus-square{
    color:#db4437;
}
.social .fa-twitter-square{
    color:#1da1f2;
}
.nav-tabs .nav-link {
    color: #adafb2;
}
.nav-tabs .nav-link.active {
    border: none;
    border-bottom: solid 2px #f3650e;
}
.relatedproduct .col-md-9{
    padding-left:0;
    padding-right:0;
}
.easyzoom {
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}
#slider{
    border:solid 1px #ddd;
}
#carousel .slides > li{
    border:solid 1px #ddd;
}
.product-detail-gallerythumb-slider .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
    .product-detail-gallerythumb-slider .swiper-slide img {
        max-width: 100%;
    }
.product-detail-gallerythumb-slider .swiper-slide:hover{
    opacity:1;
}