.btnmenu {
    position: absolute;
    line-height: 40px;
    left: 15px;
    top: 0;
    display: none;
    color: #000;
    z-index: 1;
}

.mobilemenu {
    transition: all .4s cubic-bezier(.455,.03,.515,.955);
    left: -200%;
    position: absolute;
    top: 44px;
    display: none;
    z-index: 4;
    background-color: #fff;
    height: 100%;
    min-height: 100%;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    body{
        padding-top:45px;
    }
    .top-header{
     position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    }
    .wr-filter {
        background-color: transparent;
        margin-bottom: 16px;
        padding:0;
    }

    .dropdown-menu {
        width: 100%;
        border-radius: 0;
    }

    .wr-filter .list-inline-item {
        display: block;
    }

    .wr-filter .btn-filter {
        display: block;
    }

    .mobile-brand-filter {
        background-color:transparent;
        padding: 0;
        margin-bottom:10px;
    }

        .mobile-brand-filter .btn-filter {
            background-color: #fbfbfb;
            color: #555;
            border-radius: 0;
            border: 1px solid rgba(0,0,0,.1);
            display: block;
        }

    .page-banner {
        padding: 20px 0px 20px;
    }

    .contactinfo div[class*='col-'] {
        margin-bottom: 26px;
    }

    .address-contact, .email-contact, .hotline-contact {
        padding-left: 40px;
        font-size: 15px;
    }

        .address-contact::before, .email-contact::before, .hotline-contact::before {
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 16px;
        }

    .hotbrands {
        margin-top: 20px;
    }

    .wr-logo {
        float: none;
        text-align: center;
    }

    .btnmenu {
        display: block;
    }

        .btnmenu i:before {
            content: "\f0c9";
            font: normal normal normal 14px/1 FontAwesome;
            transition: all .4s cubic-bezier(.455,.03,.515,.955);
            font-size: 18px;
        }

    .mainnav {
        display: none;
    }

    .mobilemenu {
        display: block;
    }

    .mbopen i:before {
        content: "\f00d";
    }

    .frm-mainform input {
        width: 100%;
    }

    .frm-mainform button {
        right: 0px;
    }

    .mobilemenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1em;
    }

        .mobilemenu ul li strong {
            margin-bottom: 10px;
        }

        .mobilemenu ul li {
            margin-bottom: 5px;
        }

    .logo {
        color: #fff;
        padding: 5px 10px;
        display:block;
        margin:auto;
        text-align:center;
    }
    .logo img{
        max-width:100px;
    }
    .wrlnl {
        width: 100%;
        margin-right: 0;
        float: none;
    }

    .wrlnr {
        width: 100%;
        float: none;
    }

    .mobilemenu li.active > a {
        color: #D10A11;
    }

    .wrrpl {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em;
        float: none;
    }

    .wrrpr {
        width: 100%;
        float: none;
    }

    .newsitem img {
        margin-bottom: 1em;
    }
    .relatedproduct .col-md-9{
            padding-right: 15px;
    padding-left: 15px;
    }
    .menuopen {
    left: 0;
    width: 100%;
}

}

