<div class="nhom_container">
    <div class="nhom_footer_list">
        <div>
            <p>HỖ TRỢ KHÁCH HÀNG</p>
            <p>Hướng Dẫn Mua Hàng</p>
        </div>
        <div>
            <p>THÔNG TIN LIÊN HỆ</p>
        </div>
        <div>
            <p>HỢP TÁC VÀ LIÊN KẾT</p>
            <p>Quy chế hoạt động</p>
        </div>
        <div>
            <p>ĐỊA CHỈ</p>
            <p>279 Nguyễn Tri Phương, P5 , Q10 ,Tp Hồ Chí Minh</p>
        </div>
        <div>
            <p>VỀ CHÚNG TÔI</p>
            <p>Giới thiệu</p>
        </div>
        <div>
            <p>PHƯƠNG THỨC THANH TOÁN</p>
            <p>Phương thức hỗ trợ</p>
        </div>
    </div>
</div>