@{ 
    var _ListCategory = Session["ListCateSession"] as List<CMS_DTO.CMSCategories.CMSCategoriesModels>;
}
<div ng-controller="CartCtrl">
    <div class="logo"><a href="@Url.Action("Index","Home")">BEAUSTORY</a></div>
    <div class="header_search">
        <input type="text">
        <a href="timkiemnangcao.html">
            <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </a>
    </div>
    <div class="selection">
        <a class="selection-link" href="#" data-toggle="modal" data-target="#loginModal"><img src="/Images/ico_01.png" alt=""></a>
        <div id="btn-giohang">
            <img src="/Images/ico_03.png" alt="">
            <div id="panel-giohang">
                <ul class="mini-product">
                    <li ng-repeat="item in Products">
                        <a href="/Shop/Detail?q={{item.Alias}}" class="item">
                            <img ng-src="{{item.ImageUrl}}" ng-alt="{{item.Name}}">
                            <div>
                                <span class="title">{{item.Name}}</span>
                                <p class="price">{{item.Quantity}} × {{item.Price | currency : '' : 0}} VNĐ</p>
                            </div>
                            <a class="del-icone remove" href="" ng-click="RemoveItemOrder($index)">Xóa</a>
                        </a>
                    </li>                       
                </ul>
                <div class="mini-total">
                    <span class="subtotal-text">Thành tiền: </span>
                    <span class="">{{getTotal() | currency : '' : 0}} VNĐ</span>
                </div>
                <button class="submit-btn"><a href="@Url.Action("CheckOut","Cart")">Đặt hàng</a></button>
                <button class="submit-btn cart"><a href="@Url.Action("Index","Cart")">Giỏ hàng</a></button>
            </div>
        </div>
    </div>
    <div class="header_bar">
        <span></span>
    </div>
</div>
