@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="CartCtrl">
    <ul class="nhom_menu_01">
        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
        <li><a href="@Url.Action("Index","Shop")">Danh sách sản phẩm</a></li>
        <li><a href="@Url.Action("Index","Advice")">Lời khuyên</a></li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>Giỏ hàng ({{getTotalQty()}} sản phẩm)</th>
                <th>Giá mua</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in Products">
            <tr>
                <td>
                    <div>
                        <div class="row grid-demo">
                            <div class="giosanpham">
                                <div class="col-sm-2 col-md-2">
                                    <img ng-src="{{item.ImageUrl}}" ng-alt="{{item.Name}}">
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h3 class="title">{{item.Name}}</h3>
                                    <a href="" ng-click="RemoveItemOrder($index)"><h3>Xóa</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{item.Price | currency : '' : 0}} VNĐ</td>
                <td>
                    <input ng-model="item.Quantity" ng-blur="ngBlurModal($index);" ng-change="UpdateQtyOrder($index);" class="rounded cart-q border" type="number" value="1" min="1" />
                </td>
                <td>{{item.Quantity}} × {{item.Price | currency : '' : 0}} VNĐ</td>
            </tr>
        </tbody>
    </table>
    <div class="table-width-01">
        <div class="row">
            <div class="col-xs-7">
                Tạm tính :
            </div>
            <div class="col-xs-5 text-right">{{getTotal()}} VNĐ</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-7">
                Thành tiền
            </div>
            <div class="col-xs-5 text-right">{{getTotal()}} VNĐ</div>
        </div>
        <a href="@Url.Action("CheckOut","Cart")"><button>Tiến hành đặt hàng</button></a>
    </div>
</div>