@model CMS_DTO.CMSCustomer.ClientLoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quên Password";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active"><a href="#">Quên Password</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Register Account Start -->
<div class="register-account pb-20">
    <div class="container">
        <div class="register-title">
            <h3 class="mb-10">Lấy lại Password</h3>
            <p class="mb-10">Nếu bạn đã có tài khoản đăng ký với chúng tôi, vui lòng nhập thông tin bên dưới!</p>
        </div>
        @using (@Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal pb-100", @enctype = "multipart/form-data", }))
        {
            <fieldset>
                <legend>Address email</legend>
                <div class="form-group">
                    <div class="col-4">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "CustomerEmail", @placeholder = "*Address Email", @type = "email", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger", })
                    </div>
                </div>
            </fieldset>
            <div class="buttons newsletter-input">
                <div class="pull-left">
                    <input type="submit" class="return-customer-btn mr-20" value="Gửi" />
                </div>
            </div>
        }
        </div>
    <!-- Container End -->
</div>


